body {
		margin: 0 auto;
		text-align: center;
		min-height: 100%;
		width: 1200px;
	}

	header, aside, footer, section, nav {
		border: solid 1px black;
	}

	header {
		height: 200px;
		background-color: #41DFE8;
	}
	nav {
		margin: 5px auto 5px auto;
		padding: 15px;
		width: 900px;
		background-color: #41DFE8;
	}
	aside {
		min-width: 33%;
		height: 100vh;
		float: left;
		background-color: #B8FFD5;
	}
	section {
		width: 66%;
		height: 100vh;
		float: right;
		display: inline-block;
		background-color: #FFC5B8;
		margin-bottom: 5px;
	}
	footer {
		clear: both;
		background-color: #B9A7E8;		
	}
	.nav_button {
		display: inline-block;
		min-width: 33%;
	}
	.aside_button {
		padding: 10px;
	}
	.aside_button input {
		min-width: 190px;
	}